@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    background-color: rgb(213, 240, 117);
}

:root {
    --main-color: black;
    --accent-color:  #3bec4a;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}



.container {
    max-width: 1200px;
    margin: auto;
}

